@use "../global/variables";

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .cta-nav {
        background: variables.$background-color;
        padding: 5px 0;
        .container {
            display: flex;
            justify-content: space-between;

            .cta-nav__left, .cta-nav__right {
                display: flex;
                align-items: center;
                gap: 25px;

                > a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

            .cta-nav__left {
                > a {
                    &::after {
                        content: unset;
                    }

                    > strong {
                        display: block;
                        position: relative;

                        &::after {
                            content: '';
                            background-color: variables.$body-color;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 0.111rem;
                            transition: width 0.35s ease-in-out;
                        }
                    }

                    &:hover,
                    &:focus {
                        > img {
                            animation: shake 0.35s ease-in-out;
                        }
                        > strong {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                } 
            }
        }
    }

    .header-nav-container {
        padding-top: 25px;

        .container {
            > nav {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main-nav__logo {
                    &::after {
                        content: unset;
                    }
                    > img {
                        max-width: 160px;
                        width: 100%;
                        height: auto;
                        transition: transform 0.35s ease-in-out;
                    }

                    &:hover,
                    &:focus {
                        > img {
                            transform: scale(1.1);
                        }
                    }
                }

                .main-nav {
                        display: flex;
                        gap: variables.$sm-space;
                        
                        a {
                            color: variables.$white-color;
                            &::after {
                                background: variables.$white-color;
                            }
                        }
                    }

                .main-nav__button {
                    background: linear-gradient(to bottom, #868885 0%, #2c2c2c 100%);
                    color: variables.$white-color;
                    border-radius: 25px;
                    padding: 15px 25px;
                    display: flex;
                    align-items: center;
                    transition: transform 0.35s ease-in-out;

                    &::after {
                        content: unset;
                    }

                    > p {
                        font-family: variables.$font-stack;
                        display: block;
                        position: relative;
                        margin-right: 25px;
                        line-height: 1.2;

                        &::after {
                            content: '';
                            background-color: variables.$white-color;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 0.111rem;
                            transition: width 0.35s ease-in-out;
                        }
                    }

                    > img {
                        transform: translateY(1px);
                    }

                    &:hover,
                    &:focus {
                        transform: scale(1.1);
                        > p {
                            &::after {
                                width: 100%;
                            }
                        }

                        > img {
                            animation: shake 0.35s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    .hero-cta {
        > .container {
            background: #c6c6c4;
            border-radius: 25px;
            margin-top: 25px;
            position: relative;
            padding: unset;
            height: 0;
            animation: heroCtaOpen 0.5s ease-in-out 0.5s forwards;
            overflow: hidden;

            &.closed {
                animation: heroCtaClose 0.5s ease-in-out forwards;
            }

            .hero-cta__content {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                padding: 5px 50px 5px 25px;
                width: 100%;
                margin: 0 auto;
                
                > p {
                    line-height: 1;
                }

                .caption {
                    text-decoration: underline;
                    line-height: 1;
                    transition: color 0.35s ease-in-out;

                    &::after {
                        content: unset;
                    }
                    &:hover,
                    &:focus {
                        color: variables.$green-color;
                    }
                }
            }

            #hero-cta-button {
                padding: unset;
                margin: unset;
                background: unset;
                border: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 25px;
                transform: translateY(-50%);
                > svg {
                        path {
                            transition: stroke 0.35s ease-in-out, stroke-opacity 0.35s ease-in-out;
                        }
                    }

                &:hover, &:focus {
                    > svg {
                        path {
                            stroke: variables.$green-color;
                            stroke-opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.hero-container {
    position: relative;
    width: 100%;
    background-image: url("../img/img-hero-banner.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;

    > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        min-height: 75vh;
        max-height: 100vh;

        > h1, > p {
            color: variables.$white-color;
        }

        > h1 {
            padding-top: 75px;
        }
        
        > p {
            font-size: clamp(20px, 1.25vw, 24px);
        }
    }

    > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
}

.breadcrumb-container {
    padding: variables.$lg-space 0;

    .container {
        .breadcrumb {
            display: flex;
            gap: variables.$sm-space;
            color: #9f9f9f;

            > a {
                color: #9f9f9f;
                &::after {
                    background: #9f9f9f;
                }
            }

            > p {
                line-height: 1.2;
            }

            > #currentPage {
                color: variables.$body-color;
                transition: height 1s ease-in-out;
            }
        }
    }
}