@use "../global/variables";

.help-section-container {
    .container {

        #showMoreSection {
            margin-bottom: variables.$md-space;
            .paragraph {
                &:not(:last-child) {
                    margin-bottom: variables.$md-space;
                }
            }
        }

        > .button {
            display: block;
            margin: 0 auto;
        }
    }
}