@use "../global/variables";

.help-section-container {
    .container {

        #showMoreSection {
            // margin-bottom: variables.$md-space;
            overflow: hidden;
            .paragraph {
                padding-bottom: variables.$md-space;
            }
        }

        > .button {
            display: block;
            margin: 0 auto;
        }
    }
}